<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/librarydatabase</property>
		<property name="hibernate.connection.username">root</property>
		<property name="connection.password">MANAGER</property>
		<property name="connection.pool_size">1</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="use_sql_comments">true</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="SecondLevelCacheEnabled">false</property>
		<mapping class="by.satalin.library.datamodel.Library" />
		<mapping class="by.satalin.library.datamodel.Book" />
		<mapping class="by.satalin.library.datamodel.User" />
	</session-factory>
</hibernate-configuration>
